.footer {
    background-color: #444654;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .footer p {
    margin: 0 10px;
    font-size: 15px;
  }
  
  .footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 15px;
    margin: 10px;
    display: flex;
  }
  
  .footer li {
    margin-right: 16px;
    padding: 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 850px) {
    .footer {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    
    .footer ul {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
    }
    
    .footer li {
      margin: 0 8px;
    }
    .footer p {
        margin: 5px 0px;
        font-size: 15px;
      }
  }