@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.main {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #444654;
  color: #333;
  border-radius: 15px;
}

.main h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}

.main p {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  color: aliceblue;
  text-align: center; /* Adicionar esta linha */
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0;
}

.section img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}